@import "tailwindcss";

.all-movies {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.movie-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.movie-card:hover .content {
  opacity: 1;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.movies-grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.movie-info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.movie-info h3 {
  font-size: 1rem;
  margin: 0;
}

.movie-info p {
  color: #f4eded;
  font-size: 0.9rem;
}

.user-rating {
  color: #ffd700;
  font-size: 0.9rem;
  margin-top: auto;
}

.search-input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  /* background-color: #333; */
  /* color: white; */
  font-size: 1rem;
  width: 60rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
}

.searchs {
  max-width: 600px;
  margin: 0 auto 2rem;
  /* display: flex; */
  /* gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box; */
}